* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: aqua;
}

.navbar, .footer {
  display: flex;
justify-content: space-between;
align-items: center;
padding: 1%;
color: aqua;
background-color: brown;
border: solid 5px lime;
}
.footer {    
  display: block;
  padding: 10px;
  margin-top: 1rem;
  text-align: center;
}
.footer p {
  width: 100%;

}
section {
  display: flex;
  background-color: brown;
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 5px;
  border: solid 5px lime;
  
}

body {
  background-color: lemonchiffon;
}

p {
  width: 70%;    
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  
}
a {
  color: darkblue;
}


.CM-container .strongside, .AM-container .strongside {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}
.CM-container ul {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid white;
}
.CM-container ul li { 
justify-content: space-between;
margin: 10px;

}

img {
  max-height: 200px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 10px;
}

.leftside {
  border-right: solid 1px white;
  margin: 0px;
  padding: 0;
  text-align: left;
  width: 160px;
}

.strongside {
  display: flex;
  flex-flow: row wrap;
}
.strongside .cards {
  flex: 1 0 auto;
}
#card1 {
  
  flex: 1 0 auto;
}
h1, h2 {
  margin: 50px;
}
h2 {
  text-align: center;

}

p{
  margin: 15px;
}

.MW-container {
  text-align: center;
}

.mywork .cards {
  height: 300px
}

.cards h3, .card1 h3  {
  padding: 7px;
  position: relative;
  margin-top: -20px;
  border: 2.5px solid white;
  border-radius: 10px;
  background-color: brown;
  margin-left: 75px;
  margin-right: 75px
}
  .cards, .card1 {
  flex: 0 0 auto;
  padding: 5px;
  margin: 20px;
  border: 1px dashed black;
  background-color: gray;
  justify-content: center;
  justify-items: center;
}
button {
  
  width: 200px;
  margin: 10px;
  font-size: 100%;
  color: #13293d;
  background-color: pink;
  border: 3px solid #13293d;
  text-align: center;
}

button:hover {
  background-color: orangered;
  color: #fff;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fixed button {
  height: 40px
}
/* 
@media screen and (max-width: 992px) {
  .card {
    width: 33%
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 25%
  }
}

@media screen and (max-width: 576px) {
    .card {
        width: 10%
    }
} */